@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

/* HEADER START */

.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto';
    padding: 16px 64px;
    justify-content: center;
    align-items: center;
}

.logo{
    font-weight: 900;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type:none;
    margin-left: auto;
    font-weight: 300;
}

/*HEADER END*/

/*START OF HERO SECTION*/

.hero{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    padding-left:64px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: lighter;
}

.hero p{
    margin-top: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    margin-right: auto;
}

.hero-text{
    font-family: 'Roboto';
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.hero img{
    height: 300px;
    width: 500px;
    padding: 32px;
}

/* END OF HERO SECTION */

/* INFO SECTION */

.info{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    padding: 64px;
}

.container-info{
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 32px;
}

.info-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 16px;
}

.square{
    border:3px #3882F6;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}


.square-and-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}